.container{
	padding-top: 2rem;
}
.test{
	width: 50%;
}
.newProduct{
	text-align: right;
}
.table{
	margin-top: 2rem;
	table-layout: fixed;
	text-align: center;
}
.pages{
	text-align: center;
}
.message{
	text-align: center;
}
img{
	height: 3.5rem;
	width: 3.5rem;
}

td{
	vertical-align: middle;
}