<app-navbar></app-navbar>
<div class='wrapper'>
	<div class="container">
		<ngx-spinner 
			bdColor = "rgba(51, 51, 51, 0.8)"
			size = "medium"
			color = "#fff"
			type = "line-scale">
		</ngx-spinner>
		<div class='row'>
			<form class='col-md-6' (submit)="submitSearch()">
				<input class="searchBar" type='text' name='search' [(ngModel)]="search" /><button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
			</form>
			<div class='newProduct col-md-6'>	
				<button class="addButton" (click)='newModal()'>Add New Product</button>
			</div>
		</div>
		<h4 class="message">{{message}}</h4>
			<table class='table table-hover'>
			    <thead class="thead">
					<tr>
						<th>Picture</th>
						<th>ID</th>
						<th>Name</th>
						<th>Inventory Count</th>
						<th>Quantity Sold</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody class="tbody">
					<tr *ngFor="let product of displayed">
						<td><img [src]="product.mainImage"></td>
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.count}}</td>
						<td>{{product.sold}}</td>
						<td><button class="editButton" (click)="editModal(product)">Edit</button> <button class="editButton" (click)="delteModal(product._id, product.name)">Delete</button></td>
					</tr>
				</tbody>
			</table>
			<div class='pages'>
				<button *ngFor="let page of pages" class="pageButtons" (click)="changePages(page)">{{page+1}}</button>
			</div>
	</div>
</div>
	