.wrapper{
	background-color: #f7f7f7;
}
.container{
	padding: 7rem 2rem 2rem;
	color: #3a3a3a;
	text-align: center;
}
.loginreg{
	background-color: #ffffff;
	padding: 1rem;
	border: 2px solid #C0C0C0;
	border-radius: 4px
}
.form{
	margin: 2rem 0rem;
}
.label{
	text-align: center;
}
.loginButton{
	text-align: right;
}
.input{
	text-align: left;
}
.message{
	margin-top: 2rem;
	color: #DF744A;
}
input{
	width: 100%
}
button{
	padding: 0.25rem 0.75rem;
	background-color: #AFE7BB;
	color: #ffffff;
	cursor: pointer;
	border-radius: 4px;
	outline: none;
}