.navbar{
	background-color: #AFE7BB;
	padding: 0.5rem 2rem;
}
.navbar-toggler{
	outline: none;
}
.navbar-brand{
	font-weight: 700;
	font-size: 23px;
}
.navbar a{
	color: #ffffff;
}
.nav-item{
	margin: 0rem 0.5rem;
	font-weight: 600;
	font-size: 17px;
	height: 43px;
}
.nav-item a:hover{
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}
.active-link{
	background-color: white;
}
nav{
	-webkit-box-shadow: 0px 1px 1px 0px rgba(211,211,211,0.75);
	-moz-box-shadow: 0px 1px 1px 0px rgba(211,211,211,0.75);
	box-shadow: 0px 1px 1px 0px rgba(211,211,211,0.75);
}