.container{
	padding-top: 2rem;
}
.orderInfo{
	border: 2px solid black;
	display: inline-block;
	padding: 1rem 2rem;
}
.underline{
	text-decoration: underline;
	font-weight: bold;
	font-size: large;
}
.info{
	margin-bottom: 1rem;
}
.info p{
	margin: 0rem;
}
.rightSide{
	display: inline-block;
}
.shippedStatus p{
	border: 2px solid black;
	padding: 1rem;
	margin: 0rem;
}
.total{
	border: 2px solid black;
	padding: 1rem;
	margin-left: auto;
	margin-right: 0.9375rem;
}
table{
	border: 2px solid black;
}
th, td{
	text-align: center;
}
