<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="orderInfo col-md-4 col-sm-12">
				<p><b class="underline">Order ID:</b> {{order?.id}}</p>
				<p class="underline">Customer Shipping Info:</p>
				<div class="info">
					<p>Name: {{order?.name}}</p>
					<p>Address: {{order?.shipping.address}}</p>
					<p>City: {{order?.shipping.city}}</p>
					<p>State: {{order?.shipping.state}}</p>
					<p>Zipcode: {{order?.shipping.zip}}</p>
				</div>
				<p class="underline">Customer Billing Info:</p>
				<div class="info">
					<p>Name: {{order?.name}}</p>
					<p>Address: {{order?.billing.address}}</p>
					<p>City: {{order?.billing.city}}</p>
					<p>State: {{order?.billing.state}}</p>
					<p>Zipcode: {{order?.billing.zip}}</p>
				</div>
			</div>
			<div class="rightSide col-md-8 col-sm-12">
				<table class='table'>
					<thead class='thead'>
						<tr>
							<th>ID</th>
							<th>Item</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody class="tbody">
						<tr *ngFor=" let item of items">
							<td>{{item.itemid}}</td>
							<td>{{item.itemname}}</td>
							<td>${{item.price.toFixed(2)}}</td>
							<td>{{item.quantity}}</td>
							<td>${{(item.quantity * item.price).toFixed(2)}}</td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="shippedStatus col-md-5 col-sm-12">
						<p [ngStyle]="myStyle"><b class="underline">Status:</b> {{order?.status}}</p>
					</div>
					<div class="total col-md-6 col-sm-12">
						<p>Sub total: ${{subtotal?.toFixed(2)}}</p>
						<p>Shipping: ${{shipping?.toFixed(2)}}</p>
						<p>Total Price: ${{(subtotal+shipping)?.toFixed(2)}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	