<div class="wrapper">
	<div class="container">
	    <div class='row'>
			<form class='search col-md-6' (submit)="submitSearch()">
				<select name='searchcondition' [(ngModel)]="searchid">
			    	<option value="default">Search by</option>
				    <option value="id">ID</option>
					<option value="name">Name</option>
					<option value="date">Date</option>
				</select>
				<input class="searchBar" type='text' name='searchBar' [(ngModel)]="search" /><button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
			</form>
			<div class='dropDown col-md-6'>	
				<select name='status' [(ngModel)]="filterstatus" (change)="filterStatus()">
				    <option value="showall">Show All</option>
					<option value="inprocess">Order in Process</option>
					<option value="shipped">Shipped</option>
					<option value="cancel">Cancelled</option>
				</select>
			</div>
		</div>
		<div class="reset"><button class="resetButton" (click)="resetforms()">Reset</button></div>
		<table class='table table-hover'>
		    <thead class="thead">
				<tr>
					<th>Order ID</th>
					<th>Name</th>
					<th>Date</th>
					<th class='wide'>Billing Address</th>
					<th>Total</th>
					<th class='medium'>Status</th>
				</tr>
			</thead>
			<tbody class="tbody">
				<tr *ngFor="let order of displayed">
					<td [routerLink]="[order._id]"><a [routerLink]="[order._id]">{{order.id}}</a></td>
					<td [routerLink]="[order._id]">{{order.name}}</td>
					<td [routerLink]="[order._id]">{{order.date}}</td>
					<td [routerLink]="[order._id]">{{order.billing.address}} {{order.billing.city}}, {{order.billing.state}} {{order.billing.zip}}</td>
					<td [routerLink]="[order._id]">${{order.total.toFixed(2)}}</td>
					<td>
						<select name="orderStatus" (change)="updateStatus(order._id, $event)">
							<option value="Shipped" [selected]="order.status==='Shipped'">Shipped</option>
							<option value="Order in process" [selected]="order.status==='Order in process'">Order in Process</option>
							<option value="Cancelled" [selected]="order.status==='Cancelled'">Cancelled</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<div class='pages'>
			<button *ngFor="let page of pages" class="pageButtons" (click)="changePages(page)">{{page+1}}</button>
		</div>
	</div>
</div>