.wrapper{
	background-color: #f7f7f7;
}
.container{
	padding: 5rem 1rem 2rem;
	color: #3a3a3a;
}
.category{
	display: inline-block;
	padding: 2rem 1rem;
	margin-bottom: 1rem;
	height: 100%;
	background-color: #ffffff;
	border-radius: 4px;
	border: 2px solid #C0C0C0;
}
.searchbar{
	width: 82%;
	margin-right: 0.5rem;
}
.searchButton{
	margin-bottom: 2rem;
	background-color: #ffd86b;
}
.link{
    text-decoration: underline;
    cursor: pointer;
}
.right-side{
	display: inline-block;
	width: 100%;
}
.box{
	padding: 2rem;
	background-color: #ffffff;
	border-radius: 4px;
	border: 2px solid #C0C0C0;
}
.filterPages{
	text-align: right;
}
.topButtons{
	width: 100%;
}
.topButtons p{
	display: inline-block;
	margin: 0.5rem;
}
.filterDropDown{
	margin-bottom: 1rem;
}
.products{
	display: flex;
	flex-wrap: wrap;
}
.item{
	display: inline-block;
	text-align: center;
	flex: 1 0 21%;
}
.image{
	position: relative;
	width: 100%;
	text-align: center;
}
.price{
	text-align: center;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
	bottom: 0rem;
	margin: 0rem auto;
	left: 0;
	right: 0;
	width: 10rem;
}
.item img{
	height: 10rem;
	width: 10rem;
	outline: none;
	cursor: pointer;
}
.item img:hover {
    opacity: 0.7;
}
.item p{
	text-align: center;
}
.pages{
	margin-top: 1rem;
	text-align: center;
}
.navButton{
	background-color: #AFE7BB;
	color: #ffffff;
}
.pageButtons{
	padding: 0.25rem 0rem;
	width: 2rem;
	background-color: #AFE7BB;
	color: #ffffff;
}
.currentPage{
	width: 1rem;
	text-align: center;
}
button{
	border-radius: 4px;
	color: #3a3a3a;
	background-color: #ffffff;
	outline: none;
}
select{
	background-color: #ffffff;
	color: #3a3a3a;
}
a{
	color: #3a3a3a;
}